# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# logs
logs
*.log
report.*.json

# dotenv environment variable files
.env
.env.*.local

# Sessions (credentials!)
sessions/
*.session.json
*cookies.json

# code coverage
coverage
*.lcov

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ
.idea

# MacOS
.DS_Store

# Results
results/

# Playwright
playwright-report/
playwright/.cache/
